
body {
    height: 2500px; /* Used to enable scrolling */
    background: green;
    background-image: url("wood.jpg");
    color: black;
}

hr {
    float: right;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

img {
    height: 100%;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.resulttext{
    text-align: left;
    height: 100%;
    max-width: 75%;
}


.buttondivlmao {
    text-align: center;
}

.resultbox {
    display: inline-block;
    height: 80%;
    width: 100%;
    background: bisque;
    border: 2px black solid;
    position: relative;
    margin-bottom: 20px;
}


.savedbox2 {
    display: inline-block;
    height: 80%;
    width: 100%;
    background: bisque;
    border: 2px yellow solid;
    position: relative;
    margin-bottom: 20px;
    padding:0.25em;
    margin-top:20px;
}

.readLaterArticleItem {
  padding: 0.25em;
  height: 30px;
  /* max-height: 220px;
  min-height: 80px; */
  width: 98%;
  display: block;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-top: 4px;
}

.readLaterTitle {
  font-size: 14px;
  color: #292929;
}

.icon {

}

.icon2{

}

.material-icons {
  margin: 2px 2px;
  padding: 1px 2px;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  display:inline;
  cursor: pointer;
}



.alert-dark {
    background: black;
}

.titleAlert ul {
    display: inline;
}

.titleAlert li {
    list-style-type: none;
    display: inline;
}

.titleAlert img {
    width: 100px;
    height: auto;
}

#recipe-list {
    padding-left: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.bodydiv {
    color: white;
}

/* #### Mobile Phones #### */
@media screen and (max-device-width: 765px) {
    img {
        height: 100%;
        max-width: 20%;
    }
}


/* #### Tablets #### */
@media screen and (min-device-width: 766px) and (max-device-width: 1024px) {
    img {
        height: 100%;
    }
}
